.prompt-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  z-index: 9999;
  text-align: center;

  &::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background: rgba(11, 12, 14, 0.5);
    backface-visibility: hidden;
    -webkit-animation: overlay-fade 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .content {
    position: relative;
    z-index: 10000;
    width: 100%;
    max-width: 50em;
    border-top: none;
    padding: 0.75em;
    margin: 0 auto;
    background-color: #282c34;
    border-radius: 0 0 6px 6px;
    box-shadow: 0 6px 12px -2px rgba(0, 0, 0, 0.4);
    text-align: left;

    .buttons {
      text-align: right;
      margin-top: 10px;
    }

    label {
      display: block;
      margin-bottom: 5px;
    }

    select {
      display: block;
      width: 100%;
      padding: 6px 12px;
      line-height: 1.5;
      border-radius: 4px;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      color: #9da5b4;
      border-color: #181a1f;
      background-color: #353b45;
      font-size: 1.25em;
      height: 2em;
      margin-bottom: 5px;
      margin-top: 5px;
      outline: none;
    }

    .hide {
      display: none;
    }

    .repeatables {
      .value {
        display: table;
        position: relative;
        width: 100%;
        margin-bottom: 5px;
      }
      input.with-btn {
        border-right: none;
        display: table-cell;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      .btn-input-default {
        display: table-cell;
        border: 1px solid #181a1f;
        background-color: #528bff;
        background-image: linear-gradient(#5c92ff, #528bff);
        color: #ffffff;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        width: 40px;
      }
      .btn-danger {
        border-radius: 0;
        border: 1px solid #181a1f;
        background-color: #d92626;
        background-image: linear-gradient(#da2f2f, #d92626);
      }
    }
  }
}
