<div class="autofill prompt-modal">
  <div class="content input-group form-group">
    <label>Select field and input value to auto fill</label>
    <select class="fields" [ngModel]="selectedField" (ngModelChange)="onFieldChange($event)">
      <option *ngFor="let field of fields" [value]="field.namespace + '.' + field.name">{{ field.label }}</option>
    </select>
    <input
      vocab-autocomplete
      [range]="selectedRange"
      class="field-input form-control"
      [class.hide]="fieldRepeatable"
      type="text"
      [(ngModel)]="fieldValue" #fieldInput />
    <div
      class="repeatables"
      [class.hide]="!fieldRepeatable">
      <div class="value" *ngFor="let f of fieldValues; let i = index">
        <input
          type="text"
          vocab-autocomplete
          [range]="selectedRange"
          [(ngModel)]="f.value"
          class="with-btn form-control" #fieldRepeatableInput />
        <span
          *ngIf="i !== 0"
          class="btn-input-default btn-danger"
          (click)="removeRepeatable(i)">
          <i class="fa fa-minus" aria-hidden="true"></i>
        </span>
        <span
          class="btn-input-default"
          (click)="addRepeatable(i)">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </span>
      </div>
    </div>
    <div class="buttons">
      <button class="btn btn-secondary" (click)="close()">Cancel</button>
      <button class="btn btn-primary" (click)="autofillObjects()">Ok</button>
    </div>
  </div>
</div>
