<div class="autofill modal">
  <div class="content">
    <label>Select field and input value to auto fill</label>
    <select class="fields" [(ngModel)]="selectedField" (change)="focusInputField()">
      <option *ngFor="let field of fields" [value]="field.namespace + '.' + field.name">{{ field.label }}</option>
    </select>
    <input focusHighlight class="field-input" type="text" [(ngModel)]="fieldValue" #fieldInput />
    <div class="buttons">
      <button class="btn-secondary" (click)="close()">Cancel</button>
      <button class="btn-default" (click)="autofillObjects()">Ok</button>
    </div>
  </div>
</div>
