<div class="metadata-flag" *ngIf="object && (object.productionNotes !== '' || showFlag)">
  <div class="content">
    <textarea
      #flagInput
      autosize
      class="input"
      [(ngModel)]="object.productionNotes" (change)="save()">{{ object.productionNotes }}</textarea>
  </div>
  <div class="close" (click)="clearFlag()">
    <i class="fa fa-times" aria-hidden="true"></i>
  </div>
</div>
<div
  class="metadata-add-flag"
  *ngIf="object && object.productionNotes === '' && !showFlag">
  <button class="btn-default" (click)="addFlag()">
    <i class="fa fa-flag-o" aria-hidden="true"></i> Flag
  </button>
</div>
<div class="metadata-content" *ngIf="object && !selectedFile">
  <div class="field" *ngFor="let field of object.metadata | slice: 1">
    <div class="group" *ngIf="field.map.visible">
      <label>
        <div class="label"><span (click)="openUrl(field.map.guidelines)">{{field.map.label}}</span></div>
        <div class="definition">{{field.map.definition}}</div>
      </label>
      <!-- Single Input value -->
      <input
        *ngIf="field.map.input === 'single' && !field.map.repeatable"
        type="text"
        focusHighlight
        vocab-autocomplete
        [range]="field.map.range"
        [obligationHighlight]="field"
        [validate]="field"
        checkValue="{{field.value}}"
        [(ngModel)]="field.value"
        (ngModelChange)="madeChanges(object)"
        (change)="save()" placeholder="{{field.name}}"
        [disabled]="field.map.editable === false" />
      <!-- MultiLine Input value -->
      <textarea
        *ngIf="field.map.input === 'multi'"
        focusHighlight
        [obligationHighlight]="field"
        [validate]="field"
        checkValue="{{field.value}}"
        [(ngModel)]="field.value"
        (ngModelChange)="madeChanges(object)"
        (change)="save()"
        [disabled]="field.map.editable === false" >
      </textarea>
      <!-- Repeatable values -->
      <div class="repeatables" *ngIf="field.map.repeatable">
        <div class="value" *ngFor="let f of field.values; let i = index">
          <input
            type="text"
            focusHighlight
            vocab-autocomplete
            [range]="field.map.range"
            [obligationHighlight]="field"
            [validate]="field"
            checkValue="{{f.value}}"
            [(ngModel)]="f.value"
            (ngModelChange)="madeChanges(object)"
            (change)="save()"
            placeholder="{{field.name}}"
            class="with-btn"
            [disabled]="field.map.editable === false" />
          <span
            *ngIf="i !== 0"
            class="btn-input-default btn-danger"
            (click)="removeRepeatable(field.values, i)">
            <i class="fa fa-minus" aria-hidden="true"></i>
          </span>
          <span
            class="btn-input-default"
            (click)="addRepeatable(field.values, i)">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </span>
          <edtf-humanize *ngIf="field.name === 'dc.date'" date="{{f.value}}"></edtf-humanize>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="metadata-content" *ngIf="selectedFile">
  <div class="image" *ngIf="isImage(selectedFile)">
    <img *ngIf="!isTiff(selectedFile)" [src]="imagePath(selectedFile)" title="{{selectedFile.name}}" />
    <img *ngIf="isTiff(selectedFile)" [src]="convertTiff(selectedFile)" title="{{selectedFile.name}}" />
    <div *ngIf="isTiff(selectedFile)" [class]="tiffProcessingClass(selectedFile)"></div>
  </div>
  <div class="file" *ngIf="!isImage(selectedFile)">
    <div class="icon">
      <i class="fa fa-file-text-o" aria-hidden="true"></i>
    </div>
  </div>
  <div class="open-button">
    <button class="btn-default" (click)="openFile(selectedFile)">Open File</button>
  </div>
  <div class="technical">
    <div class="information">
      <label>Filename:</label><span class="value">{{selectedFile.name}}</span>
    </div>
    <div class="information">
      <label>MIME type:</label><span class="value">{{selectedFile.mime}}</span>
    </div>
  </div>
</div>
