#settings-button {
  width: 18px;
  height: 18px;
  color: #ccc;
  font-size: 18px;
  float: right;
  padding: 5px;
  cursor: pointer;
  z-index: 10;
}

#settings label {
  display: table-cell;
  font-size: 14px;
  width: 100px;
  text-align: right;
  padding-right: 8px;
  background-color: #323232;
  border-radius: 3px;
  border-top-right: 0;
  border-bottom-right: 0;
}

#settings .input-group {
  box-sizing: border-box;
  display: table;
  margin-bottom: 20px;
  width: 100%;
}

#settings input[type=text]{
  box-sizing: border-box;
  display: table-cell;
  width: 100%;
  box-shadow: 0 0 2px rgba(0,0,0,.3),inset -2px 2px 2px rgba(0,0,0,.1);
  padding: 6px 9pt;
  font-size: 14px;
  color: #eee;
  background-color: #555;
  border-radius: 3px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 0;
}

#settings .input-buttons {
  text-align: right;
}

#settings label.switch-light {
  display: block;
  text-align: left;
  width: auto;
  background: none;
}

#settings .switch-label {
  float: left;
  line-height: 30px;
  padding-right: 10px;
}
#settings .switch-options {
  width: 33%;
  float: left;
}

/*
 * Switch theme plex
 */
.switch-toggle.switch-plex,
.switch-light.switch-plex > span {
  background-color: #2d3035;
  border-radius: 3px;
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.2); }
.switch-light.switch-plex span span,
.switch-light.switch-plex input:checked ~ span span:first-child,
.switch-toggle.switch-plex label {
  color: #fff;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 1px #191b1e; }
.switch-light.switch-plex input ~ span span:first-child,
.switch-light.switch-plex input:checked ~ span span:nth-child(2),
.switch-plex input:checked + label {
  color: #333;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  }
.switch-plex a {
  border: 1px solid #333;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.45);
  background-color: #cc7b19;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2), transparent);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), transparent);
  }