#settings-button {
  width: 18px;
  height: 18px;
  color: #ccc;
  font-size: 18px;
  float: right;
  padding: 5px;
  cursor: pointer;
  z-index: 10;
}

#settings label {
  display: table-cell;
  font-size: 14px;
  width: 100px;
  text-align: right;
  padding-right: 8px;
  background-color: #323232;
  border-radius: 3px;
  border-top-right: 0;
  border-bottom-right: 0;
}

#settings .input-group {
  box-sizing: border-box;
  display: table;
  margin-bottom: 20px;
  width: 100%;
}

#settings input[type=text]{
  box-sizing: border-box;
  display: table-cell;
  width: 100%;
  box-shadow: 0 0 2px rgba(0,0,0,.3),inset -2px 2px 2px rgba(0,0,0,.1);
  padding: 6px 9pt;
  font-size: 14px;
  color: #eee;
  background-color: #555;
  border-radius: 3px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 0;
}

#settings .input-buttons {
  text-align: right;
}